@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 95%;
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

body {
  background: $veryDarkBlue;
  position: relative;
  color: $softBlue;
}

.card {
  display: block;
  margin: 140px auto;
  width: 18%;
  height: 600px;
  padding: 25px;
  background: $darkBlueCard;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  .image {
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;

      &:hover {
        color: $cyan;
        cursor: pointer;
      }
    }
  }

  h2 {
    padding: 15px 0;
    color: $white;
  }

  p {
    padding: 10px 0;
    font-size: 1.1rem;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;

  h3 {
    color: $cyan;
  }

  .icons {
    position: relative;
    top: 2px;
    right: 2px;
  }
}

#line {
  height: 0px;
  border: none;
  border-top: 1px solid $softBlue;
  opacity: 0.2;
}

.credit {
  display: flex;
  justify-content: left;
  padding-top: 15px;

  img {
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
  }

  p {
    padding-left: 20px;

    span {
      color: $white;
    }
  }
}
